<!-- for yaya: stylesheet: _user_items.scss -->
<header class="header-container">
  <div class="logo-container">
    <%= image_tag("mySell_vertical.png", alt: "mySell") %>
  </div>
</header>

<div class="container text-center">
  <h1><%= @user.name %>'s items</h1>
  <hr>

  <div class="card-group mt-3">
    <% @user.items.each do |item| %>
      <div class="card custom-card">
        <div>
          <% if item.photos.first %>
            <%= cl_image_tag item.photos.first.key, height: 150, width: 100, crop: :fill %>
          <% else %>
            <!-- Default image if no photo available -->
            <img src="app/assets/images/defaultitemimage.jpg" alt="Default Image" height="150" width="100">
          <% end %>
        </div>
        <div class="card-body">
          <h3 class="card-title"><strong><%= item.name.capitalize %></strong></h3>
          <span class="price"><%= number_to_currency(item.price, precision: 2) %></span>
          <%= link_to "See Details", item_path(item), class: "btn btn-primary mr-2" %>
          <% if @user == current_user %>
            <%= link_to "Remove this item",
              item_path(item), method: :delete,
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
              class: "btn btn-danger"
            %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
