

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div id="video-background">
    <video autoplay muted loop playsinline controls="false">
      <source src="https://drive.google.com/uc?export=download&id=1EEAuAgCZNrG5giu9WLSJB-FmRLaY75IZ" type="video/mp4">
    </video>
  </div>

  <script>
    const video = document.getElementById('myVideo');
    video.controls = false;
  </script>

  <div class="page-container">
    <div class="left-image-container">
      <%= image_tag("mySell_logo.png", alt: "Left Image") %>
      <div class="search-bar">
        <%= simple_form_for :search, method: "get", url: items_path do |f| %>
          <%= f.input :query, label: false, placeholder: "Type Something" %>
          <%= f.submit "Search" %>
        <% end %>
      </div>
    </div>

    <header class="header-container">
      <div class="logo-container">
        <%= image_tag("mySell_vertical.png", alt: "mySell") %>
      </div>
    </header>

    <div class="featured-container">
      <section class="featured-products">
        <div class="featured-content slider">
          <h2>&#128293;Featured Items&#128293;</h2>
          <% @featured_items.first(3).each do |item| %>
            <a href="/items/<%= item.id %>" class="product">
              <h3><%= item.name %></h3>
              <p><%= item.description %></p>
              <span class="price">$<%= item.price %></span>
            </a>
          <% end %>
        </div>
      </section>
    </div>

    <div class="sold-items">
      <section class="sold-content slider">
        <h2>&#128176;Recently Sold Items&#128176;</h2>
        <div class="product">
          <h3>Yaya's brain space</h3>
          <p>Heavily used for coding</p>
          <span class="price">$999999.99</span>
        </div>
        <div class="product">
          <h4>Toydoll Box Set</h4>
          <p>Bought for my daughter but she likes playing with cars and trucks instead</p>
          <span class="price">$20</span>
        </div>
        <div class="product">
          <h5>iPhone 14 Pro Max Deep Purple 256GB</h5>
          <p>Used, no scratches, battery at 99%</p>
          <span class="price">$1200.39</span>
        </div>
        <!-- add more if have-->
      </section>
    </div>

    <div class="category-links">
      <a href="items/category/Electronics">
        <i class="fas fa-mobile-alt"></i>
        Electronics
      </a>
      <a href="items/category/Clothing">
        <i class="fas fa-tshirt"></i>
        Clothing
      </a>
      <a href="items/category/Toys">
        <i class="fas fa-dice"></i>
        Toys
      </a>
      <a href="items/category/Home Decor">
        <i class="fas fa-couch"></i>
        Home Decor
      </a>
      <a href="items/category/Books">
        <i class="fas fa-book"></i>
        Books
      </a>
      <!-- add more if you have more categories -->
    </div>
  </div>

  <footer>
    <p>&copy; 2023 mySell - the team that is going to bring you, StockPro</p>
  </footer>
  <hr class="footer-line">
</body>
</html>
