<h1> This page will show all offers </h1>

<% @offers.each do |offer| %>
  <% if @user == offer.user %>
    <%= "this is buyer" %>
    <p>Item name : <%= offer.item.name %></p>
    <p>Seller name : <%= offer.item.user.name %></p>
    <p>Offer price : <%= offer.price %></p>
    <p>Offered by : <%= offer.user.name %></p>
    <p>Status : <%= offer.status %></p>
    <hr>

  <% elsif @user == offer.item.user %>
    <%= "this is seller" %>
    <p>Item name : <%= offer.item.name %></p>
    <p>Seller name : <%= offer.item.user.name %></p>
    <p>Offer price : <%= offer.price %></p>
    <p>Offered by : <%= offer.user.name %></p>
    <p>Status : <%= offer.status %></p>
      <% if @user == offer.item.user && offer.status == "pending" %>
        <%= link_to "Accept", offer_approve_path(offer), method: :post, data: {turbo_method: :post} %>
        <%= link_to "Decline", offer_approve_path(offer), method: :post, data: {turbo_method: :post} %>
      <% end %>
    <hr>
  <% end %>
<% end %>
