<div class="container">
  <h1>This page is for search item</h1>
  <div>
    <%#= form_tag(items_path, method: "get") do %>
    <%#= text_field_tag(:search, params[:search], placeholder: "Search items") %>
    <%#= submit_tag("Search") %>
    <%# end %>

    <%= simple_form_for :search, method: "get", url: items_path do |f| %>
      <%= f.input :query, label: false, placeholder: "Type Something" %>
      <%= f.submit "Search" %>
    <% end %>
  </div>

  <div class="card-group mt-3">
    <% @items.each do |item| %>
      <div class="card" style="width: 18rem;">
      <%= link_to item_path(item) do %>
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><strong><%= item.name %></strong></h5>
          <p class="card-text"><%= item.description %>Item descriptions.</p>
          <a href="#" class="btn btn-primary">Offer</a>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
