<div class="container">
  <h1>List New Items!</h1>
  <br>
  <%= simple_form_for @item do |f| %>
    <%= f.input :name %>
    <%= f.input :category, collection: ["Electronics", "Clothing", "Books", "Home Decor", "Toys"], prompt: "Select a category" %>
    <%= f.input :description %>
    <%= f.input :price, input_html: { value: number_with_precision(@item.price, precision: 2) } %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Submit item", class: "btn btn-primary" %>
  <% end %>
</div>
