<div class="container">
  <h1>New item for <%= @user.name %></h1>
  <%= simple_form_for [@user, @item] do |f| %>
    <%= f.input :name %>
    <%= f.input :category, collection: ["Electronics", "Clothing", "Books", "Home Decor", "Toys"], prompt: "Select a category" %>
    <%= f.input :description %>
    <%= f.input :price %>
     <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Submit item", class: "btn btn-primary" %>
  <% end %>
</div>
