

<h3><strong>Name: <%= @item.name %></strong></h3>
<h4>Category: <%= @item.category %></h4>
<% @item.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<h4>Description: <%= @item.description %></h4>
<h4>Price: <%= @item.price %></h4>
<%= link_to "Remove this item",
  item_path(@item), method: :delete,
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

<form class="row g-3">

  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">Make an offer</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Submit Offer</button>
  </div>
</form>


<hr>
