

<h3><strong>Name: <%= @item.name %></strong></h3>
<h4>Category: <%= @item.category %></h4>
<% @item.photos.each do |photo| %>
  <% if @item.photos.first %>
    <%= cl_image_tag @item.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% end %>
<h4>Description: <%= @item.description %></h4>
<h4>Price: <%= @item.price %></h4>
<%= simple_form_for [@item, @offer] do |f| %>
  <%= f.input :price %>
  <%= f.submit %>
<% end %>
<% if policy(@item).destroy? %>
  <%= link_to "Remove this item",
    item_path(@item), method: :delete,
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
<% end %>

<%= link_to "Submit Offer", new_item_offer_path(@item) %>














<hr>
<%= link_to "See all items from this seller", user_path(@item.user.id), class: "btn btn-primary" %>


<hr>
