<h3><strong>Name: <%= @item.name %></strong></h3>
<h4>Category: <%= @item.category %></h4>
<% @item.photos.each do |photo| %>
  <% if @item.photos.first %>
    <%= cl_image_tag @item.photos.first.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% end %>
<h4>Description: <%= @item.description %></h4>
<h4>Price: <%= @item.price %></h4>
<h4>Seller: <%= @item.user.name %></h4>
<hr>
<% if @item.user != current_user %>
  <%= simple_form_for [@item, @offer] do |f| %>
    <%= f.input :price %>
    <%= f.submit %>
  <% end %>
<% end %>

<% if policy(@item).destroy? %>
  <%= link_to "Remove this item",
    item_path(@item), method: :delete,
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
<% end %>
<hr>
<hr>

<h1>Offers already made for this item</h1>
<% @offers.each do |offer| %>

  <p>Offer price : <%= offer.price %></p>
  <p>Offered by : <%= offer.user.name %></p>
  <p>Status : <%= offer.status %></p>

  <% if offer.status == "pending" %>
  <div class="button-container">
    <%= link_to "Accept Offer", edit_item_offer_path(@item, offer), method: :patch %>
    <%= link_to "Decline Offer", edit_item_offer_path(@item, offer), method: :patch %>
  </div>

<% end %>


  <hr>
<% end %>
