<%= stylesheet_link_tag 'pages/_indiv_item_user', media: 'all', 'data-turbolinks-track': 'reload' %>

<header class="header-container">
  <div class="logo-container">
    <%= image_tag("mySell_vertical.png", alt: "mySell", id: "logo-image") %>
  </div>
</header>

<div class="item-name-wrapper">
  <h3><strong class="item-name" id="item-name"><%= @item.name.capitalize %></strong></h3>
</div>

<div class="item-info">
  <p class="category" id="item-category">Category: <%= @item.category %></p>
  <% @item.photos.each do |photo| %>
    <% if @item.photos.first %>
      <%= cl_image_tag @item.photos.first.key, height: 300, width: 400, crop: :fill, class: "item-photo" %>
    <% end %>
  <% end %>
  <p class="description" id="item-description">Description: <%= @item.description %></p>
  <h4>Price: $<%= sprintf('%.2f', @item.price) %></h4> <!-- Add sprintf('%.2f', @item.price) to format the price with 2 decimal points -->
  <% if @item.user != current_user %>
    <%= simple_form_for [@item, @offer], html: { class: "offer-form" } do |f| %>
      <%= f.input :price, class: "price-input" %>
      <%= f.submit class: "submit-button" %>
    <% end %>
  <% end %>

  <% if policy(@item).destroy? %>
    <%= link_to "Remove this item",
      item_path(@item), method: :delete,
      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
      class: "remove-item-link"
    %>
  <% end %>
</div>
