<h3><strong>Name: <%= @item.name %></strong></h3>
<h4>Category: <%= @item.category %></h4>
<% @item.photos.each do |photo| %>
  <% if @item.photos.first %>
    <%= cl_image_tag @item.photos.first.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% end %>
<h4>Description: <%= @item.description %></h4>
<h4>Price: <%= @item.price %></h4>
<h4>Seller: <%= @item.user.name %></h4>
<hr>
<% if @item.user != current_user %>
  <%= simple_form_for [@item, @offer] do |f| %>
    <%= f.input :price %>
    <%= f.submit %>
  <% end %>
<% end %>

<% if policy(@item).destroy? %>
  <%= link_to "Remove this item",
    item_path(@item), method: :delete,
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
<% end %>
<hr>
<hr>

<h1>Offers you have made for this item</h1>


<% @offers.each do |offer| %>
  <% if offer.status == "pending" && offer.user == current_user || @item.user = current_user %> <%# only show the offers to either the buyer or the seller. Offers by others cannot be seen by the current user unless he is the seller %>
    <p>Offer price : <%= offer.price %></p>
    <p>Offered by : <%= offer.user.name %></p>
    <p>Status : <%= offer.status %></p>

    <div class="button-container">
      <%= link_to "Accept Offer", edit_item_offer_path(@item, offer), method: :patch, class: "btn btn-primary" %>
      <%= link_to "Decline Offer", edit_item_offer_path(@item, offer), method: :patch, class: "btn btn-danger" %>
    </div>

<% end %>


  <hr>
<% end %>
