<!DOCTYPE html>
<html>

<head>
  <title>mySell</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
  <!--<%= render "shared/navbar" -->
  <%= render "shared/homepagebutton" %>
  <%= render "shared/flashes" %>
  <header class="header-container" style="margin-top: 40px;">
    <div class="logo-container">
      <%= image_tag("mySell_vertical.png", alt: "mySell") %>
    </div>
    <div class="login-container">
      <% if user_signed_in? %>
        <p class="greeting">
          Hi there, <%= current_user.name %> <i class="fas fa-face-smile"></i>
        </p>
        <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "login-button" %>
      <% end %>
    </div>
  </header>

  <%= yield %>

  <footer style="background-color: #333; color: white; text-align: center; position: fixed; bottom: 0; left: 0; width: 100%; padding: 1rem;">
    &copy; 2023 mySell - the team that is going to bring you, StockPro
  </footer>
</body>

</html>
